# Node dependencies
node_modules/

# Production build
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker artifacts
docker-compose.override.yml

# TypeScript cache
*.tsbuildinfo

